.clear {clear:both; padding-bottom:2px;}
a img { border: none; }
a[href] { text-decoration: none; color:#150;}
a[href]:hover { text-decoration: underline; }
a[target] { background: transparent url('img/external.gif') top left no-repeat; padding-left:12px;}

body {
  font-family: "amiri", "Liberation Sans", "KacstOne", "Simplified Naskh", "KFGQPC Uthman Taha Naskh", "ArabeyesQr", "Times New Roman", "sans", "Sans";
	background:#000;
	margin:0;padding:0;border:0;
}
h1
{
margin-top:50px;
padding-top:5px;
padding-bottom:5px;
padding-left:4px;
color:#303030;
border:1px solid #d4d4d4;
background-color:#eee;
background:#fff url('img/bg-l.png') top left repeat-x;
background-repeat:repeat-x;
background-position:0px -50px;
clear:both;
}
h2
{
margin-top:20px;
padding-top:5px;
padding-bottom:5px;
padding-left:4px;
color:#303030;
border:1px solid #d4d4d4;
background-color:#eee;
background:#fff url('img/bg-l.png') top left repeat-x;
background-repeat:repeat-x;
background-position:0px -50px;
clear:both;
}
#async_tips_div {
	display:none;
	position: absolute;
	background-color:#ffe;
	left:20%;
	margin:0; padding:3px 10px;
	border:2px solid #aa7;
	border:2px solid rgba(170, 170, 119, 0.6);
}
.match { background-color:#acf; }
.term0 { background-color:#acf; }
.term1 { background-color:#fca; }
.term2 { background-color:#cfa; }
.term3 { background-color:#fac; }
.term4 { background-color:#afc; }
.term5 { background-color:#caf; }


.quran {
  font-family: "amiri-quran", "amiri", "Simplified Naskh", "me_quran", "KFGQPC Uthman Taha Naskh", "ArabeyesQr", "Times New Roman", "Serif";
  font-size: 150%;
  color: #240;
  background-color:#ffe;
}

blockquote {
  border:3px dotted #aaa;
  background:#ddd url('img/quote.gif') top left no-repeat;
  background-color:rgba(190, 230, 190, 0.4);
  padding:5px 50px;
}

input {
    font-family: "amiri", "Simplified Naskh", "me_quran", "KFGQPC Uthman Taha Naskh", "ArabeyesQr", "Times New Roman", "Serif";
    padding: 2px 30px;
    border-radius: 17px;
    font-size: 12pt;
    color: rgb(0, 0, 0);
    border: 2px solid rgba(245,245,245,0.2);
    background:#ddd url('img/search.gif') center right no-repeat;
    background-gradient-start: rgba(5,5,6,0.1);
    background-gradient-end: rgba(254,254,254,0.1);
    background-gradient-direction: vertical;
    selected-color: black;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 30%;
    transition-duration: 300;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
    outline: none;
}
input:focus,
input:hover {
    border: 2px solid rgb(136,138,133);
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    background-gradient-direction: vertical;
    outline: none;
}
input:hover {
    transition-duration: 300;
}
#loading {
	display:none;
	background:transparent url('img/loading.gif') center center no-repeat;
	position:absolute;
	top:16px;
	left:8px;
	margin:20px auto;
	width:32px;
	height:32px;
}
#logo {
	background:transparent;
	position:absolute;
	top:8px;
	right:8px;
	height:48px;
	font-size:24px;
	line-height: 100%;
	text-decoration: none;
	vertical-align:middle;
	margin:0;padding:0;border:0;
}
#logo img {border:0; vertical-align: middle;}
#absnav {
	display:none;
	background:#000 url('img/bg-d.png') top left repeat-x;
	color:#fff;
	position:absolute;
	top:46px;
	left:64px;
	width:200px;
	height:40px;
	margin:0;
	padding:0;
	border:2px solid #aaa;
}
#absnav2 {
	background:#000 url('img/bg-d.png') top left repeat-x;
	color:#fff;
	position:absolute;
	top:46px;
	right:64px;
	width:160px;
	height:40px;
	margin:0;
	padding:0;
	border:2px solid #aaa;
}
#absnav3 {
	background:#000 url('img/bg-d.png') top left repeat-x;
	color:#fff;
	position:absolute;
	top:128px;
	left:10px;
	width:32px;
	height:110px;
	margin:0;
	padding:0;
	border:2px solid #aaa;
}
#absnav2 img,  #absnav3 img {
	padding:8px 5px;
	border:0;
	margin:8px auto 8px auto;
}

#results {
	background:#838383;
	color:#fff;
	overflow:hidden;
	position:absolute;
	top:4px;
	left:64px;
	width:500px;
	height:22px;
	margin:0;padding:0;
	border:2px solid #aaa;
	border-top:0;
}
#nominisearch {
	display:none;
	text-align:right;
	width:200px;
	margin:0;padding:0;
}

#minisearch {
	background:#000 url('img/bg-d.png') top left repeat-x;
	color:#fff;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:92px;
	width:220px;
	height:32px;
	margin:0;padding:0;
	border:2px solid #777;
}
#minisearch form {
	margin:0;border:0;padding:0;
}
#minisearch input {
    #background:#ddd url('img/search.gif') center right no-repeat;
	width:70%;
	height:24px;
	border:2px solid #aaa;
}

#searchHelpDiv { display:none;}

#searchHelp {
	background:#ffffa0;
	padding:16px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
#searchHelpArrow {
	background:transparent url('img/up.gif') right top no-repeat;
	margin:0 24px;
	height:16px;
	width:32px;
}


#wrapper {
	background:#fff url('img/bg-l.png') top left repeat-x;
	margin:0;padding:64px 32px 32px;border:0;
}

#container {
	background:#fff url('img/bg-l.png') 0 -10px repeat-x;
	margin:0;padding:0;border:0;
	border:2px solid #eee;

}

#footer {
	background:#000 url('img/bg-d.png') top left repeat-x;
	color:#aaa;
	width:100%;
	margin:0;padding:32px 0 0;border:0;
	text-align:center;
}
#footer img {border:0;}

#contentheader {
	margin:0;padding:0 16px;border:0;
}
#contentbody {
	margin:0;padding:0 16px;border:0;
}

/* nav */
.navtoolbar {
	overflow:hidden;
	width:100%;height:32px;
	background:#acf;
	background:rgba(240,240,255,0.4);
	z-index:10;
}

.navtoolbar span, #searchbar span, #tailnav span{
  float:right;
}
.navtoolbar span.otherside, #searchbar span.otherside, #tailnav span.otherside{
  float:left;
}

.navtoolbar a, #tailnav a {
  padding-right:24px;padding-left:16px;
}
.navtoolbar a.prevLink, #tailnav a.prevLink {
  background:url('img/go-prev.gif') center right no-repeat;
}
.navtoolbar a.upLink, #tailnav a.upLink{
background:url('img/go-up.gif') center right no-repeat;
}
.navtoolbar a.homeLink, #tailnav a.homeLink{
background:url('img/go-home.gif') center right no-repeat;
}
.navtoolbar a.nextLink, #tailnav a.nextLink{
background:url('img/go-next.gif') center left no-repeat;
padding-left:24px;padding-right:16px;
}
#overlay {
	display: none;
	overflow:hidden;
	position: absolute;
	left:0; top:0;
	z-index:1000;
	background:#fff;
}



#kutubListing {
	border: 2px solid #aba;
	margin:20px;
	background-color:#eef7ee;
}
#kutubListing ul { 
    display:inline;
    }
#kutubListing ul li {
    display:inline;
    font-size:18px;
	display:block;
	float:right;
	margin:18px 16px;
	padding-top:64px;
	width:130px;
	height:50px;
	text-align:center;
	background:transparent url('img/kutub.gif') no-repeat center 8px;
}

table,th,td	{
	border:none;
	border-collapse:collapse;
	padding:6px;
}

table		{
	width:90%;
	background:#666;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	/* -webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.3); */
	-moz-box-shadow:1px 1px 10px rgba(0,0,0,0.3)
}
thead, tfoot	{color:white; }

tbody td, tbody th{ background-color:#ddd; }

tbody th { color:#222;}
tbody td{border:1px solid #000;}
tbody td:first-child{border-right:none;}
tbody td:last-child{border-left:none;}

tbody tr:nth-child(odd) td	{ background-color:#eee; color:#222}

tfoot td, tfoot th	{border:none; font-size:130%}

#SearchPages span {
    display:inline;
	float:right;
	margin:0px;
	text-align:center;
	background: #def;
	color:#777;
	border:2px solid #acd;
	width:42px;
	cursor:pointer;
}
#SearchPages a{
	padding:0 0.5em;
}

#SearchPages a.current{
	background: #acf;
	color:#000;
}

.mini table, .mini th, .mini td { padding:0; }
.mini tbody a{
	display:block;
	padding:0 5px;
	white-space:nowrap;
	width:380px; overflow:hidden;
}
.mini #SearchPages span { font-size:80%; }

.mini #SearchPages a{ padding:0 0.2em; }

#SearchContainer.mini {
	padding:36px 0 0 0;
	overflow:hidden;
}
#rollup {
	background: transparent url('img/close.gif')  0 0 no-repeat;
	position:absolute;
	width:22px;
	height:22px;
	left:0;
	bottom:0;
}
