<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>%(title)s [ثواب]</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="%(script)s/_files/main.css" />
<link rel="stylesheet" type="text/css" href="%(script)s/_files/fx.css" />
<script type="text/javascript">
var script='%(script)s';
var title='%(title)s';
var kitabId='%(kitabId)s';
var kitabUid=encodeURI('%(kitabId)s');
</script>
<script type="text/javascript" src="%(script)s/_files/main.js"></script>
<script type="text/javascript" src="%(script)s/_files/th-main.js"></script>
<script type="text/javascript" src="%(script)s/_files/th-view.js"></script>
<!--[if lt IE 8]>
  <link rel="stylesheet" type="text/css" media="screen" href="%(script)s/_files/ie-fx.css" />
<![endif]-->

</head>
<body dir="rtl" class="body">
<div id="loading" class="showOnFocus"></div>
<a id="logo" class="showOnFocus" href="/"><img src="%(script)s/_files/img/kutub.gif"/></a>
<div id="absnav">
الرئيسية | اتصل بنا
</div>
<div id="absnav2">

  <a id="prevLink" class="blurOnFocus" style="float:right;" href="%(prevUrl)s" title="%(prevTitle)s"><img src="%(script)s/_files/img/go-prev.gif"/></a>
  <a id="upLink" class="blurOnFocus" style="float:right;" href="%(upUrl)s" title="%(upTitle)s"><img src="%(script)s/_files/img/go-up.gif"/></a>
  <a class="blurOnFocus" style="float:right;" href="#_i0" title="%(title)s"><img src="%(script)s/_files/img/go-home.gif"/></a>
  <a id="nextLink" class="blurOnFocus" style="float:right;" href="%(nextUrl)s" title="%(nextTitle)s"><img src="%(script)s/_files/img/go-next.gif"/></a>
</div>
<div id="absnav3">
  <img src="%(script)s/_files/img/scrollup.png" class="blurOnFocus" style="float:right;" href="#" title="autoscroll up, click for document top" onclick="window.scroll(0,0);" onmouseover="autoscroll_dir=-1;" onmouseout="autoscroll_dir=0;" />
  <img src="%(script)s/_files/img/scrolldn.png" class="blurOnFocus" style="float:right;" href="#" title="autoscroll down, click for document bottom" onclick="window.scroll(0,document.body.scrollHeight);" onmouseover="autoscroll_dir=1;" onmouseout="autoscroll_dir=0;" />
</div>
<div id="results" onmouseover="this.style.height='300px';" onmouseout="this.style.height='8px';">

  <div id="SearchContainer">
<div style="display:none;">
<span id="SearchTime"></span><span id="SearchRCount"></span><span id="SearchPagesCount"></span>
</div>
<center><table style="width:90%%;">
  <tfoot><tr><td colspan="2"><div id="SearchPages">-</div></td></tr></tfoot>
  <tbody id="SearchResults"></tbody>
</table></center>
  </div>

</div>
<div id="minisearch">
<img src="%(script)s/_files/img/search.gif" style="float:right;" />
<form name="miniSearchForm" onsubmit="doMiniSearch(document.getElementById('q').value); return false;" style="margin:0;border:0;padding:0;">
<input id="q" class="search_inactive" type="text" value="نص البحث" onfocus="search_entry_focus(this);document.getElementById('results').style.height='300px';" onblur="search_entry_blur(this);"></input>
</form>
</div>
<div id="wrapper">
<div id="container">
<div id="contentheader">
<h1><a href="/">مكتبة ثواب</a> - <a href="#_i0">%(title)s</a></h1>
<div id="breadcrumbs">%(breadcrumbs)s</div>
</div>
<div id="contentbody">

  <div id="maincontent">%(content)s</div>
  <div id="subtoc">%(childrenLinks)s</div>

</div>
</div>
</div>
<div id="footer">
<br/>
<center>
    <a href="http://www.mozilla.com/firefox/" class="showOnFocus"><img
        src="%(script)s/_files/img/get_ffx.png"
        title="get FireFox"
        alt="Valid XHTML 1.0 Transitional" height="32" width="110" class="showOnFocus"/></a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3&amp;usermedium=all&amp;warning=1&amp;lang=en"><img
        src="%(script)s/_files/img/valid-css-blue.gif"
        title="Validate CSS"
        alt="Valid XHTML 1.0 Transitional" height="31" width="88" class="showOnFocus"/></a>
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="%(script)s/_files/img/valid-xhtml10-blue.gif"
        title="Validate XHTML"
        alt="Valid XHTML 1.0 Transitional" height="31" width="88" class="showOnFocus"/></a>
</center>
<br/>
<div id="copyright">
copyright © 2010, <a href="http://www.ojuba.org">ojuba.org</a> - Muayyad Saleh Alsadi
</div>
<br/><br/>
</div>
</body>
</html>
