<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{{_r.title or '::'}} :: ثواب ::</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=1;" />
<meta name="keywords" content="{{', '.join(_r.meta_keywords)}}" />
<meta name="description" content="{{_r.meta_description}}" />
<link rel="shortcut icon" href="/_theme/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="/_theme/main.css" />
<link rel="stylesheet" type="text/css" href="/_theme/fx.css" />
{{!_r.render_css_links()}}
%if x_js_script: x_js_script()
<script type="text/javascript" src="/_theme/main.js"></script>
{{!_r.render_js_links('head')}}
<!--[if lt IE 8]>
  <link rel="stylesheet" type="text/css" media="screen" href="/_theme/ie-fx.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="print" href="/_theme/print.css" />
</head>
<body dir="rtl" class="body">
{{!_r.render_js_links('begin')}}

<a id="logo" class="showOnFocus noprint" href="/"><img src="/_theme/img/kutub.gif" alt="ثواب" /></a>

<div id="absnav2" class="noprint">
%topnav()
</div>

</div>

<div id="absnav3" class="noprint">
  <img alt="/\" src="/_theme/img/scrollup.png" class="blurOnFocus" style="float:right;" title="autoscroll up, click for document top" onclick="window.scroll(0,0);" onmouseover="autoscroll_dir=-1;" onmouseout="autoscroll_dir=0;" />
  
  <div id="loading" class="showOnFocus noprint"></div>
  
  <img alt="\/" src="/_theme/img/scrolldn.png" class="blurOnFocus" style="float:right;" title="autoscroll down, click for document bottom" onclick="window.scroll(0,document.body.scrollHeight);" onmouseover="autoscroll_dir=1;" onmouseout="autoscroll_dir=0;" />
</div>

%if typ!="main":
%include minisearch
%end

<div id="wrapper">
<div id="container">

%include

</div>
</div>

%include footer

{{!_r.render_js_links('end')}}
</body>
</html>
