
<div id="results" class="noprint" onmouseover="if(is_indexed)this.style.height='300px';">
%if not _r.is_indexed:
<div id="nominisearch">
فضلا أضف هذا الكتاب للفهرس.
</div>
%end
  <div id="SearchContainer" class="mini">
<div style="display:none;">
<span id="SearchTime"></span><span id="SearchRCount"></span><span id="SearchPagesCount"></span>
</div>
<center><table id="SearchTable" style="width:90%;">
  <tfoot><tr><td colspan="2"><div id="SearchPages">-</div></td></tr></tfoot>
  <tbody id="SearchResults"><tr><td colspan="2">-</td></tr></tbody>
</table></center>
  <div id="rollup" onclick="document.getElementById('results').style.height='22px';"></div>
  </div>

</div>
%if _r.is_indexed:
<div id="minisearch" class="noprint">
<img src="/_theme/img/search.gif" style="float:right;" alt="search" />
<form action="" name="miniSearchForm" onsubmit="doMiniSearch(document.getElementById('q').value); return false;" style="margin:0;border:0;padding:0;">
<input id="q" class="search_inactive" type="text" value="نص البحث" onfocus="search_entry_focus(this);if(is_indexed)document.getElementById('results').style.height='300px';" onblur="search_entry_blur(this);"></input>
</form>
</div>
%end

